.bg-prime {
  color: white !important;
  background-color: #23A6F0 !important;
}

.color-prime {
  color: #23A6F0 !important;
}

.color-sec {
  color: #FF6161 !important;
}

.h-50rem {
  height: 40rem !important;
  width:100rem !important
}

.bg-light-grey {
  background-color: #F6F6F6;
}